.JobAdvancement {
    width: 100%;
    height: 100%;
}

#FirstJob {
    transform: translateY(-300px);
    align: center top;
    margin-top: 42px;
    height: 100%;
    width: 45%;

    transition-property: position, transform;
    transition-duration: 0.2s;
    z-index: -1;
}
#FirstJobBG {
    align: center top;
    
    margin-left: 3px;
    width: 80px;
    height: 50px;
    background-image: url("s2r://panorama/images/hud/reborn/bg_timer_psd.vtex");
    background-size: 95% 95%;
    background-repeat: no-repeat;
    hue-rotation: 192deg;
}
#FirstJob.Active {
    transform: translateY(0);
}
#ParticleFirstjob {
    align: center top;
    width: 110px;
    height: 80px;
    transform: scaleY(-1);
    z-index: -1;
}
#SideBars {
    visibility: collapse;
    width: 100%;
    height: 46px;
    z-index: -2;
}
#SideBarCenter {
    horizontal-align: center;
    width: 80%;
    height: 100%;
    background-image: url("s2r://panorama/images/hud/reborn/top_bar_team_bg_psd.vtex");
    background-size: 200% 100%;

    transition-property: width, transform;
    transition-duration: 0.3s;
}
#SideBarLeft {
    horizontal-align: left;
    height: 100%;
    width: 10%;
    background-image: url("s2r://panorama/images/hud/reborn/top_bar_team_bg_psd.vtex");


    margin-left: 2%;
    opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_left_psd.vtex");
}
#SideBarRight {
    horizontal-align: right;
    height: 100%;
    width: 10%;
    background-image: url("s2r://panorama/images/hud/reborn/top_bar_team_bg_psd.vtex");


    margin-right: 2%;
    opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_right_psd.vtex");
}
.Active.InRange #SideBars {
    visibility: visible;
}